<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iam57.nyanime.mapper.UserMapper">
    <select id="countByUserType" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM nyani_user
        WHERE user_type = #{userType}
    </select>
    <select id="getById" resultType="com.iam57.nyanime.pojo.entity.User">
        SELECT *
        FROM nyani_user
        WHERE id = #{id}
    </select>
    <select id="getByUserName" resultType="com.iam57.nyanime.pojo.entity.User">
        SELECT *
        FROM nyani_user
        WHERE username = #{username}
    </select>
    <insert id="insert">
        INSERT INTO nyani_user (username, sex, password, avatar, email, create_time, update_time, user_type)
        VALUES (#{username}, #{sex}, #{password}, #{avatar}, #{email}, #{createTime}, #{updateTime}, #{userType})
    </insert>
</mapper>